<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To My API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('header') %>
    <h1>About here</h1>
    <a href="/">here</a>
    <script src="script.js"></script>
</body>
</html>