<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Welcome my friends!</h1>
    <%- include('header') %>
        <!-- ejsesc -->
        <h3>This is variable from backend <%= counter %> time
        </h3> <!-- ejsout, berkaitan dengan logika -->
        <a href="about">Go to about</a>
        <% if (isMorning) { %>
            <p>Good morning</p>
            <% } else { %>
                <p>Good night</p>
                <% } %>

                    <!-- ejseach -->
                    <% names.forEach(name=>{ %>
                        <p>
                            <%= name %>
                        </p>
                        <% }) %>
                            <script src="script.js"></script>
</body>

</html>